.navbar_wrap {
  background: transparent;
}
.navbar-nav {
  gap: 24px;
  font: normal normal 600 16px/12px Poppins;
  letter-spacing: 0.16px;
}
.nav-item a {
  font: normal normal 600 16px/12px Poppins;
  letter-spacing: 0.16px;
  text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link {
  color: #ffffff !important;
}
.nav-item a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #ffffff;
}
.nav-item a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -4px;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-item a:hover {
  color: #ffffff;
}
.nav-item a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.header_content {
  align-self: center;
}
.home_content h1 {
  font-family: barlow;
  letter-spacing: 1.58px;
  text-shadow: 0px 3px 6px #00000029;
}
.home_content span {
  font-weight: 900;
  font-size: 46px;
  font-family: "Barlow";
}
.header_text {
  font: normal normal normal 16px/26px Poppins;
  letter-spacing: 0.48px;
}
.home_bg {
  display: flex;
  justify-content: space-evenly;
}
.navbar_bg {
  position: absolute;
}
.header-sec {
  display: flex;
  justify-content: center;
}
.bg_gradiant {
  background-image: url(../../assests/home-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  z-index: -1;
}
.but_get_started {
  border-radius: 25px;
  width: 192px;
  height: 50px;
  outline: transparent;
  border: transparent;
  letter-spacing: 0.28px;
  color: #d3483d;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 18px;
}
.home_container_secondpage_content_heading {
  letter-spacing: 0.99px;
  color: #212144;
  font: normal normal normal 38px Patua One;
  margin: 0;
}
.bottom_gradient {
  width: 140px;
  height: 6px;
  display: inline-flex;
  background: linear-gradient(265deg, #3d3dd3, #d3483d);
  border-radius: 5px;
}
.bg_white_bottom{
  background: white !important;
}
.our_services_header_content ::after {
  content: "";
  width: 140px;
  height: 6px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 600px;
}
.home_container_secondpage_content_para {
  color: #1d1d1d;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 600;
  letter-spacing: 0.32px;
}
.home_container_thirdpage {
  background: url(../../assests/ourservice_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 200px 0 280px 0;
}
.our_service_page_content h1 {
  font: normal normal normal 38px/44px Patua One;
  letter-spacing: 0.99px;
  color: #ffffff;
}
.our_sevices_content_premium {
  font: normal normal 600 16px/12px Poppins;
  letter-spacing: 0.48px;
}
.our_sevices_content_premium_bottom {
  letter-spacing: 0.32px;
  font-size: 15px;
  font-family: "Poppins";
}
.hour_button {
  width: 100px;
  height: 34px;
  background: #d3483d 0% 0% no-repeat padding-box;
  border-radius: 17px;
  outline: transparent;
  border: transparent;
}
.hour_button span {
  letter-spacing: 0.48px;
  font-size: 12px;
  font-weight: 600;
  font-family: "Poppins";
}
.booknow_button {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 25px;
  border: transparent;
  outline: transparent;
  font: normal normal 600 14px/12px Poppins;
  letter-spacing: 0.28px;
  color: #d3483d;
  text-transform: uppercase;
  width: 160px;
  height: 50px;
  gap: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our_service_right_side_Para {
  font-size: 20px;
  letter-spacing: 0.78px;
  color: #ffffff;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  height: 470px;
  width: 314px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
.flip_doctors_image {
  object-fit: none;
  box-shadow: 0px 0px 20px #ccccfb;
  border-radius: 6px;
}
.flipcard_front_content {
  width: 316px;
  height: 86px;
  background: transparent linear-gradient(180deg, #2821b6 0%, #11118b 100%) 0%
    0% no-repeat padding-box;
  border-radius: 0px 0px 6px 6px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.flip_cards_column {
  gap: 55px;
}
.flipcard_front_content h3 {
  font: normal normal 600 20px/30px Poppins;
  letter-spacing: 0.52px;
  margin: 0;
}
.flipcard_front_content p {
  font: normal normal bold 14px/36px Poppins;
  letter-spacing: 0.28px;
  color: #d3483d;
}
.flip-card-back {
  background: transparent linear-gradient(213deg, #1515a2 0%, #a8251b 100%) 0%
    0% no-repeat padding-box;
  border-radius: 6px;
  transform: rotateY(180deg);
  padding: 32px 15px 30px 15px;
}
.flip-card-back h3 {
  letter-spacing: 0.52px;
  font-family: poppins;
  font-size: 20px;
  font-weight: 600;
}
.flip-card-back h5 {
  letter-spacing: 0.48px;
  font-family: poppins;
  font-size: 16px;
}
.flip-card-back p {
  letter-spacing: 0.19px;
  font-size: 12px;
  font-family: poppins;
}
.flip-card-back span {
  letter-spacing: 0.56px;
  font-size: 15px;
  font-family: poppins;
  font-weight: bold;
}
.flip-card-back h4 {
  font-size: 20px;
  font-family: poppins;
}
/* .flip_card_height {
  height: 470px;
  width: 314px;
} */
@media only screen and (max-width: 1400px) {
  .flip_card_height {
    height: 500px;
  }
}