.navbar_wrap {
  background: transparent;
}
.navbar-nav {
  gap: 24px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.16px;
  align-items: center;
}
.nav-item a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #ffffff;
}
.navbar-light .navbar-nav .nav-link {
  color: #ffffff !important;
}
.nav-item a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-item a:hover {
  color: #ffffff;
}
.nav-item a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.navbar_bg {
  position: absolute;
}
.ReactFlagsSelect-module_flagsSelect__2pfa2 {
  padding: 0 !important;
}
.ReactFlagsSelect-module_selectBtn__19wW7 {
  padding: 0 !important;
}
.ReactFlagsSelect-module_selectValue__152eS {
  padding: 0 !important;
  margin: 0 !important;
}
.react_flag :hover {
  columns: unset;
}
@media (max-width: 992px) {
  .navbar_wrap {
    padding: 20px 50px 0 50px;
  }
}
