.container {
  max-width: 1200px !important;
}

.header_content {
  align-self: center;
}
.home_content h1 {
  letter-spacing: 1.58px;
  text-shadow: 0px 3px 6px #00000029;
  margin: 0;
  font-size: 53px;
  font-family: "Barlow";
  font-weight: lighter;
}
.home_content span {
  font-family: "Barlow";
  font-weight: bold;
  font-size: 60px;
}
.header_text {
  letter-spacing: 0.48px;
  font-family: "Poppins";
  font-size: 14px;
  margin: 0;
  line-height: 20px;
}
.home_bg {
  display: flex;
  justify-content: space-evenly;
}
.header-sec {
  display: flex;
  justify-content: center;
}
.bg_gradiant {
  background-image: url(../../assests/home-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  z-index: -1;
  position: relative;
}
.but_get_started {
  border-radius: 25px;
  width: 192px;
  height: 50px;
  outline: transparent;
  border: transparent;
  letter-spacing: 0.28px;
  color: #d3483d;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 18px;
  font-family: "Poppins";
}
.home_img_response {
  max-width: 75%;
}
@media (max-width: 992px) {
  .home_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
  }
}
/* online medical  section css */
.home_container_secondpage_content_heading {
  color: #212144;
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  font-family: "Patua One";
}
.bottom_gradient {
  width: 140px;
  height: 6px;
  display: inline-flex;
  background: linear-gradient(265deg, #3d3dd3, #d3483d);
  border-radius: 5px;
}
.online_img_response {
  max-width: 75%;
}
.OnlineConsultation::before {
  content: "";
  background-image: url(../../assests//Intersection-img.png);
  background-size: 290px 500px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -134px;
  top: 147px;
  background-repeat: no-repeat;
}
.OnlineConsultation::after {
  content: "";
  background-image: url(../../assests/Grid-img.png);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  position: absolute;
  top: -95px;
  right: -3px;
  width: 27%;
  height: 50%;
  z-index: -1;
}
@media (max-width: 992px) {
  .online_section_top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    padding: 0 50px 30px 50px;
  }
  .online_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
/* our services section css */
.bg_white_bottom {
  background: white !important;
}
/* .our_service_right_bg {
  position: relative;
}
.our_service_right_bg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../assests/Intersection-img.png);
  background-repeat: no-repeat;
} */
.our_services_header_content {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  font-family: "Patua One";
  letter-spacing: 0.99px;
}
.cards_wrap {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 12px;
  /* justify-content: center; */
}
.view_more {
  letter-spacing: 0.28px;
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: unset !important;
}
.view_more_color a:hover {
  color: #ffffff;
}
.home_container_secondpage_content_para {
  color: #1d1d1d;
  font-size: 14px;
  font-family: "Poppins";
  font-weight: bold;
  letter-spacing: 0.32px;
  line-height: 26px;
}
.ourservices_section {
  background: url(../../assests/ourservice_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 200px 0 280px 0;
}
.our_service_page_content h1 {
  font-size: 28px;
  font-family: "Patua One";
  letter-spacing: 0.99px;
  line-height: 1;
}
.our_sevices_content_premium {
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins";
  letter-spacing: 0.48px;
}
.our_sevices_content_premium_bottom {
  letter-spacing: 0.32px;
  font-size: 14px;
  font-family: "Poppins";
}
.hour_button {
  width: 100px;
  height: 34px;
  background: #d3483d 0% 0% no-repeat padding-box;
  border-radius: 17px;
  outline: transparent;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.hour_button span {
  letter-spacing: 0.48px;
  font-size: 12px;
  font-weight: 600;
  font-family: "Poppins";
}
.booknow_button {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 25px;
  border: transparent;
  outline: transparent;
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 600;
  letter-spacing: 0.28px;
  color: #d3483d;
  text-transform: uppercase;
  width: 160px;
  height: 50px;
  gap: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our_service_right_side_Para {
  font-size: 20px;
  letter-spacing: 0.78px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Patua One";
}
@media (max-width: 992px) {
  .ourservices_section {
    padding: 200px 0 340px 0;
  }
  .our_service_section_header {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    padding: 0 50px !important;
  }
  .our_service_section {
    margin-top: 95px;
  }
  .our_service_section_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
  }
}
/* online consultation css */
.OnlineConsultation {
  position: relative;
}
/*patients say css section  */
.patients_card_header h1 {
  letter-spacing: 0.99px;
  color: #212144;
  font-size: 38px;
  font-family: "Patua One";
  margin: 0;
  line-height: 1.5;
}
.profile_details {
  margin-bottom: 32px;
}
.profile_details_name h5 {
  margin: 0;
  letter-spacing: 0.44px;
  color: #212144;
  font-size: 22px;
  font-weight: bold;
  line-height: 32px;
}
.profile_details_name p {
  letter-spacing: 0.36px;
  color: #212144;
  font-size: 14px;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
}
.patients_cards {
  background: #ebebfc;
  border-radius: 6px;
  padding: 55px 0 40px 50px;
  position: relative;
  width: 70%;
}
.card_bottom_section p {
  letter-spacing: 0.29px;
  color: #1d1d1d;
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 500;
}
/* caurosel css  */
.carousel-indicators {
  display: none;
}
.carousel-control-next {
  position: absolute;
  top: 130px;
  bottom: 200px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
  left: 510px;
}
.carousel-control-prev {
  position: absolute;
  left: 470px;
  top: -60px;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
.patients_card_right_image {
  position: absolute;
  top: 40px;
  right: 0;
}
.patients_right_img_size {
  height: 100% !important;
}
.next_card_select {
  display: none;
}
@media (min-width: 1100px) and (max-width: 1150px) {
  .carousel-control-prev {
    left: 400px;
  }
  .carousel-control-next {
    left: 440px;
  }
}
@media (min-width: 1050px) and (max-width: 1100px) {
  .carousel-control-prev {
    left: 360px;
  }
  .carousel-control-next {
    left: 400px;
  }
}
@media (min-width: 1000px) and (max-width: 1050px) {
  .carousel-control-prev {
    left: 340px;
  }
  .carousel-control-next {
    left: 380px;
  }
}
@media (min-width: 950px) and (max-width: 1000px) {
  .carousel-control-prev {
    left: 290px;
  }
  .carousel-control-next {
    left: 340px;
  }
}
@media (min-width: 680px) and (max-width: 810px) {
  .carousel-control-prev {
    left: 460px !important;
  }
  .carousel-control-next {
    left: 500px !important;
  }
}
@media (min-width: 600px) and (max-width: 680px) {
  .carousel-control-prev {
    left: 400px !important;
  }
  .carousel-control-next {
    left: 440px !important;
  }
}
@media (min-width: 560px) and (max-width: 600px) {
  .carousel-control-prev {
    left: 360px !important;
    top: -66px !important;
  }
  .carousel-control-next {
    left: 400px !important;
    top: 127px !important;
  }
}
@media (min-width: 540px) and (max-width: 560px) {
  .carousel-control-prev {
    left: 325px !important;
    top: -89px !important;
  }
  .carousel-control-next {
    left: 360px !important;
    top: 110px !important;
  }
}
@media (min-width: 500px) and (max-width: 540px) {
  .carousel-control-prev {
    left: 300px !important;
    top: -140px !important;
  }
  .carousel-control-next {
    left: 330px !important;
    top: 60px !important;
  }
}
@media (min-width: 450px) and (max-width: 500px) {
  .carousel-control-prev {
    left: 280px !important;
    top: -140px !important;
  }
  .carousel-control-next {
    left: 320px !important;
    top: 60px !important;
  }
}
@media (max-width: 950px) {
  .patients_card_right_image {
    position: unset;
    padding-top: 50px;
  }
  .patients_cards {
    width: 100%;
  }
  .carousel-control-prev {
    left: 580px;
  }
  .carousel-control-next {
    left: 620px;
  }
  .patients_sec_responsive {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
  }
  .patients_right_img_size {
    width: 75% !important;
  }
}

/* dropdown css */
.ReactFlagsSelect-module_selectBtn__19wW7 {
  cursor: pointer;
  width: unset !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  font-family: inherit;
  color: #4d4d4d;
  border: unset !important;
  border-radius: 4px;
  background: transparent;
}
.ReactFlagsSelect-module_selectOptions__3LNBJ {
  position: absolute;
  z-index: 999999;
  border: 1px solid #bdbbbb;
  border-radius: 3px;
  background: #bdbbbb;
  margin-top: 8px;
  padding: 8px 0;
  max-height: 100px !important;
  max-width: 150px !important;
  overflow: auto;
}
.ReactFlagsSelect-module_flagsSelect__2pfa2 {
  margin: 5px 80px;
}
/*flip card css */
.grid_bg {
  position: relative;
}
.grid_bg::before {
  content: "";
  position: absolute;
  background-image: url(../../assests/Grid-img.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: -100px;
  background-size: 240px 222px;
}
/* .grid_bg::after {
  content: "";
  position: absolute;
  background-image: url(../../assests/Intersection-pink-bg.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
} */
.card-flip {
  perspective: 1000px;
  position: relative;
  /* width: 250px;
  height: 390px; */
  width: 273px;
  height: 417px;
}

.card-flip:hover .card-front {
  transform: rotateY(180deg);
}

.card-flip:hover .card-back {
  transform: rotateY(0deg);
}

.card-front {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-back {
  backface-visibility: hidden;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  background: transparent linear-gradient(213deg, #1515a2 0%, #a8251b 100%) 0%
    0% no-repeat padding-box;
  border-radius: 6px;
  padding: 32px 15px 30px 15px;
  text-align: center;
}
.card-back h3 {
  letter-spacing: 0.52px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins";
  padding-top: 10px;
}
.card-back h5 {
  letter-spacing: 0.48px;
  font-family: poppins;
  font-size: 14px;
}
.card-back p {
  letter-spacing: 0.19px;
  font-size: 11px;
  font-family: poppins;
  padding-bottom: 25px;
}
.card-back span {
  letter-spacing: 0.56px;
  font-size: 15px;
  font-family: poppins;
  font-weight: bold;
}
.card-back h4 {
  font-size: 20px;
  font-family: poppins;
}
.flipcard_front_content {
  width: 100%;
  height: 20%;
  background: transparent linear-gradient(180deg, #2821b6 0%, #11118b 100%) 0%
    0% no-repeat padding-box;
  border-radius: 0px 0px 6px 6px;
  position: relative;
  bottom: 28px;
  left: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.flipcard_front_content h3 {
  font-size: 17px;
  letter-spacing: 0.52px;
  margin: 0;
  line-height: 30px;
}
.flipcard_front_content p {
  font-size: 16px;
  letter-spacing: 0.28px;
  color: #d3483d;
}
.card {
  border: 1px solid transparent !important;
}
@media (max-width: 992px) {
  .cards_wrap {
    display: flex;
    justify-content: center;
  }
}
/* drop down select */
/* .home_content span{
  font-weight: unset !important;
  font-size: unset !important;
} */

.carousel-control-next-icon {
  background-image: url(../../assests/right-arrow-icon.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
.carousel-control-prev-icon {
  background-image: url(../../assests/left-arrow-icon.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
