.container {
  max-width: 1200px !important;
}

.header_content {
  align-self: center;
}
.home_content h1 {
  letter-spacing: 1.58px;
  text-shadow: 0px 3px 6px #00000029;
  margin: 0;
  font-size: 60px;
  font-family: "Barlow";
}
.home_content span {
  font-weight: 700;
  font-size: 60px;
}
.header_text {
  letter-spacing: 0.48px;
  font-family: "Poppins";
  font-size: 14px;
  margin: 0;
  line-height: 25px;
}
.home_bg {
  display: flex;
  justify-content: space-evenly;
}
.header-sec {
  display: flex;
  justify-content: center;
}
.bg_gradiant {
  background-image: url(../../assests/home-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  z-index: -1;
}
.but_get_started {
  border-radius: 25px;
  width: 192px;
  height: 50px;
  outline: transparent;
  border: transparent;
  letter-spacing: 0.28px;
  color: #d3483d;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 18px;
  font-family: "Poppins";
}
/* online medical  section css */
.home_container_secondpage_content_heading {
  color: #212144;
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  font-family: "Patua One";
}
.bottom_gradient {
  width: 140px;
  height: 6px;
  display: inline-flex;
  background: linear-gradient(265deg, #3d3dd3, #d3483d);
  border-radius: 5px;
}

/* our services section css */
.grid_bg {
  background-image: url(../../assests/Grid-img.png);
  background-repeat: no-repeat;
  background-position: 100% 0%;
}
.bg_white_bottom {
  background: white !important;
}
.our_services_header_content {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  font-family: "Patua One";
  letter-spacing: 0.99px;
}
.view_more {
  letter-spacing: 0.28px;
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
}
.view_more_color a:hover {
  color: #ffffff;
}
.home_container_secondpage_content_para {
  color: #1d1d1d;
  font-size: 18px;
  font-family: "Poppins";
  font-weight: bold;
  letter-spacing: 0.32px;
  line-height: 26px;
}
.ourservices_section {
  background: url(../../assests/ourservice_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 200px 0 280px 0;
}
.our_service_page_content h1 {
  font-size: 28px;
  font-family: "Patua One";
  letter-spacing: 0.99px;
}
.our_sevices_content_premium {
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins";
  letter-spacing: 0.48px;
}
.our_sevices_content_premium_bottom {
  letter-spacing: 0.32px;
  font-size: 14px;
  font-family: "Poppins";
}
.hour_button {
  width: 100px;
  height: 34px;
  background: #d3483d 0% 0% no-repeat padding-box;
  border-radius: 17px;
  outline: transparent;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.hour_button span {
  letter-spacing: 0.48px;
  font-size: 12px;
  font-weight: 600;
  font-family: "Poppins";
}
.booknow_button {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 25px;
  border: transparent;
  outline: transparent;
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 600;
  letter-spacing: 0.28px;
  color: #d3483d;
  text-transform: uppercase;
  width: 160px;
  height: 50px;
  gap: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our_service_right_side_Para {
  font-size: 20px;
  letter-spacing: 0.78px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Patua One";
}
/*patients say css section  */
.patients_card_header h1 {
  letter-spacing: 0.99px;
  color: #212144;
  font-size: 38px;
  font-family: "Patua One";
  margin: 0;
}
.card_bottom_section p {
  color: #1d1d1d;
}
.profile_details_name h5 {
  margin: 0;
  letter-spacing: 0.44px;
  color: #212144;
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
}
.profile_details_name p {
  letter-spacing: 0.36px;
  color: #212144;
  font-size: 18px;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
}
.patients_cards {
  background: #ebebfc;
  border-radius: 6px;
  padding: 55px 0 40px 50px;
  position: relative;
  width: 80%;
}
.card_bottom_section p {
  letter-spacing: 0.29px;
  color: #1d1d1d;
  font-size: 18px;
  font-family: "Poppins";
  font-weight: 600;
}
/* caurosel css  */
.carousel-indicators {
  display: none;
}
.carousel-control-prev {
  right: 80px;
  left: unset;
}
.carousel-control-next {
  position: absolute;
  top: 80px;
  bottom: 200px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
  left: 460px;
}
.carousel-control-prev {
  position: absolute;
  left: 404px;
  top: -115px;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
.patients_card_right_image {
  position: absolute;
  top: 0;
  right: 0;
}

/* dropdown css */
.ReactFlagsSelect-module_selectBtn__19wW7 {
  cursor: pointer;
  width: unset !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  font-family: inherit;
  color: #4d4d4d;
  border: unset !important;
  border-radius: 4px;
  background: transparent;
}
.ReactFlagsSelect-module_selectOptions__3LNBJ {
  position: absolute;
  z-index: 999999;
  border: 1px solid #bdbbbb;
  border-radius: 3px;
  background: #bdbbbb;
  margin-top: 8px;
  padding: 8px 0;
  max-height: 100px !important;
  max-width: 150px !important;
  overflow: auto;
}
.ReactFlagsSelect-module_flagsSelect__2pfa2 {
  margin: 5px 80px;
}
/*flip card css */
.card-flip {
  perspective: 1000px;
  position: relative;
  /* width: 250px;
  height: 390px; */
  width: 273px;
  height: 417px;
}

.card-flip:hover .card-front {
  transform: rotateY(180deg);
}

.card-flip:hover .card-back {
  transform: rotateY(0deg);
}

.card-front {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-back {
  backface-visibility: hidden;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  background: transparent linear-gradient(213deg, #1515a2 0%, #a8251b 100%) 0%
    0% no-repeat padding-box;
  border-radius: 6px;
  padding: 32px 15px 30px 15px;
  text-align: center;
}
.card-back h3 {
  letter-spacing: 0.52px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins";
  padding-top: 10px;
}
.card-back h5 {
  letter-spacing: 0.48px;
  font-family: poppins;
  font-size: 14px;
}
.card-back p {
  letter-spacing: 0.19px;
  font-size: 11px;
  font-family: poppins;
  padding-bottom: 25px;
}
.card-back span {
  letter-spacing: 0.56px;
  font-size: 15px;
  font-family: poppins;
  font-weight: bold;
}
.card-back h4 {
  font-size: 20px;
  font-family: poppins;
}
.flipcard_front_content {
  width: 100%;
  height: 20%;
  background: transparent linear-gradient(180deg, #2821b6 0%, #11118b 100%) 0%
    0% no-repeat padding-box;
  border-radius: 0px 0px 6px 6px;
  position: relative;
  bottom: 28px;
  left: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.flipcard_front_content h3 {
  font-size: 17px;
  letter-spacing: 0.52px;
  margin: 0;
  line-height: 30px;
}
.flipcard_front_content p {
  font-size: 16px;
  letter-spacing: 0.28px;
  color: #d3483d;
}
.card {
  border: 1px solid transparent !important;
}

