.header_content {
  align-self: center;
}
.home_content h1 {
  font-family: barlow;
  letter-spacing: 1.58px;
  text-shadow: 0px 3px 6px #00000029;
}
.home_content span {
  font-weight: 900;
  font-size: 46px;
  font-family: "Barlow";
}
.header_text {
  font: normal normal normal 16px/26px Poppins;
  letter-spacing: 0.48px;
}
.home_bg {
  display: flex;
  justify-content: space-evenly;
}
.header-sec {
  display: flex;
  justify-content: center;
}
.bg_gradiant {
  background-image: url(../../assests/home-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  z-index: -1;
}
.but_get_started {
  border-radius: 25px;
  width: 192px;
  height: 50px;
  outline: transparent;
  border: transparent;
  letter-spacing: 0.28px;
  color: #d3483d;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 18px;
  font-family: "Poppins";
}
/* online medical  section css */
.home_container_secondpage_content_heading {
  letter-spacing: 0.99px;
  color: #212144;
  font: normal normal normal 38px Patua One;
  margin: 0;
}
.bottom_gradient {
  width: 140px;
  height: 6px;
  display: inline-flex;
  background: linear-gradient(265deg, #3d3dd3, #d3483d);
  border-radius: 5px;
}

/* our services section css */
.bg_white_bottom {
  background: white !important;
}
.our_services_header_content {
  letter-spacing: 0.99px;
  font-size: 38px;
  font-family: "Patua One";
}
.view_more {
  font: normal normal 600 14px/12px Poppins;
  letter-spacing: 0.28px;
  color: #ffffff;
  text-decoration: none;
}
.view_more :hover {
  color: #ffffff;
}
.home_container_secondpage_content_para {
  color: #1d1d1d;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 600;
  letter-spacing: 0.32px;
}
.ourservices_section {
  background: url(../../assests/ourservice_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 200px 0 280px 0;
}
.our_service_page_content h1 {
  font: normal normal normal 38px/44px Patua One;
  letter-spacing: 0.99px;
  color: #ffffff;
}
.our_sevices_content_premium {
  font: normal normal 600 16px/12px Poppins;
  letter-spacing: 0.48px;
}
.our_sevices_content_premium_bottom {
  letter-spacing: 0.32px;
  font-size: 15px;
  font-family: "Poppins";
}
.hour_button {
  width: 100px;
  height: 34px;
  background: #d3483d 0% 0% no-repeat padding-box;
  border-radius: 17px;
  outline: transparent;
  border: transparent;
}
.hour_button span {
  letter-spacing: 0.48px;
  font-size: 12px;
  font-weight: 600;
  font-family: "Poppins";
}
.booknow_button {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 25px;
  border: transparent;
  outline: transparent;
  font: normal normal 600 14px/12px Poppins;
  letter-spacing: 0.28px;
  color: #d3483d;
  text-transform: uppercase;
  width: 160px;
  height: 50px;
  gap: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our_service_right_side_Para {
  font-size: 20px;
  letter-spacing: 0.78px;
  color: #ffffff;
}
/*flip card css section  */
.flip-card {
  background-color: transparent;
  max-width: 316px;
  height: 470px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  height: 80%;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
.flip_doctors_image {
  object-fit: none;
  box-shadow: 0px 0px 20px #ccccfb;
  border-radius: 6px;
}
.flipcard_front_content {
  width: 100%;
  height: 20%;
  background: transparent linear-gradient(180deg, #2821b6 0%, #11118b 100%) 0%
    0% no-repeat padding-box;
  border-radius: 0px 0px 6px 6px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.flipcard_front_content h3 {
  font: normal normal 600 20px/30px Poppins;
  letter-spacing: 0.52px;
  margin: 0;
}
.flipcard_front_content p {
  font: normal normal bold 14px/36px Poppins;
  letter-spacing: 0.28px;
  color: #d3483d;
}
.flip-card-back {
  background: transparent linear-gradient(213deg, #1515a2 0%, #a8251b 100%) 0%
    0% no-repeat padding-box;
  border-radius: 6px;
  transform: rotateY(180deg);
  padding: 32px 15px 30px 15px;
}
.flip-card-back h3 {
  letter-spacing: 0.52px;
  font-family: poppins;
  font-size: 20px;
  font-weight: 600;
}
.flip-card-back h5 {
  letter-spacing: 0.48px;
  font-family: poppins;
  font-size: 16px;
}
.flip-card-back p {
  letter-spacing: 0.19px;
  font-size: 12px;
  font-family: poppins;
}
.flip-card-back span {
  letter-spacing: 0.56px;
  font-size: 15px;
  font-family: poppins;
  font-weight: bold;
}
.flip-card-back h4 {
  font-size: 20px;
  font-family: poppins;
}
/* .flip_card_height {
  height: 470px;
  width: 314px;
} */
/* @media only screen and (max-width: 1400px) {
  .flip_card_height {
    height: 500px;
    gap: 15px;
  }
} */
/*patients say css section  */
.patients_card_header h1 {
  letter-spacing: 0.99px;
  color: #212144;
  font-size: 38px;
  font-family: "Patua One";
  margin: 0;
}
.card_bottom_section p {
  color: #1d1d1d;
}
.profile_details_name h5 {
  margin: 0;
  letter-spacing: 0.44px;
  color: #212144;
  font-size: 22px;
  /* font-family: "Poppins"; */
  font-weight: 600;
  line-height: 32px;
}
.profile_details_name p {
  letter-spacing: 0.36px;
  color: #212144;
  font-size: 18px;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
}
.patients_cards {
  background: #ebebfc;
  border-radius: 6px;
  /* width: 1034px;
  height: 315px; */
  padding: 55px 0 40px 50px;
  position: relative;
}
/* .patients_cards::before {
  content: "";
  position: absolute;
  width: 1034px;
  height: 100px;
  background: #ebebfc;
} */
.card_bottom_section p {
  letter-spacing: 0.29px;
  color: #1d1d1d;
  font-size: 18px;
  font-family: "Poppins";
  font-weight: 600;
  /* width: 739px; */
}

/* footer_section */
.footer_section {
  background: url(../../assests//footer-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 220px 0px 0px 0px;
}
.footer_section_part2 a {
  text-decoration: none;
}
.footer_section_part2 img {
  object-fit: contain;
}
.footer_section_part1 p {
  letter-spacing: 0.48px;
  color: #212144;
  white-space: nowrap;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 700;
}
.footer_section_part2 p {
  letter-spacing: 0.64px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins";
}
.footer_section_part2_contact {
  white-space: nowrap;
}
.footer_section_part3_header h1 {
  letter-spacing: 0.48px;
  color: #fbfbfb;
  font-size: 24px;
  font-family: "Barlow";
  font-weight: 700;
}
.left_input {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 30px 0px 0px 30px;
  outline: transparent;
  border: transparent;
  width: 363px;
  height: 50px;
  padding: 20px 0 20px 20px;
  color: #212144;
}
.right_input {
  background: #d3483d 0% 0% no-repeat padding-box;
  border-radius: 0px 30px 30px 0px;
  outline: transparent;
  border: transparent;
  width: 199px;
  height: 50px;
  padding: 20px 0 20px 20px;
}
.social_links p {
  letter-spacing: 0.64px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins";
  padding-right: 10px;
  white-space: nowrap;
}
.social_links a {
  text-decoration: unset;
}
.left_input ::placeholder {
  font-size: 14px;
  font-weight: 600px;
  letter-spacing: 0.28px;
  color: #212144;
}
.right_input ::placeholder {
  font: normal normal 600 14px/12px Poppins;
  letter-spacing: 0.28px;
  color: #ffffff;
}
.footer_inputs {
  position: relative;
}
.send_icon_footer {
  object-fit: contain;
  position: absolute;
  right: 20px;
  top: 15px;
}
.footer_bottom_content {
  text-align: center;
  font-size: 20px;
  font-family: "Poppins";
}
.footer_line {
  background: #4b079f;
  opacity: 0.22;
  width: 100%;
  height: 4px;
  display: inline-flex;
}

/*  */
.carousel-indicators {
  display: none;
}
.carousel-control-prev {
  right: 80px;
  left: unset;
}
.carousel-control-next {
  right: 40px;
}
.carousel-control-next {
  position: absolute;
  top: 70px;
  bottom: 200px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
.carousel-control-prev {
  position: absolute;
  top: -128px;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
